footer {
    padding-top: 2.5rem;
    background-color: var(--background-color-dark);
    .footer-wrapper {
        background-color: var(--background-color-light);
        padding: 4rem 0;

        .bottom-footer {
            padding-top: 3rem;
            text-align: center;
        }

        .top-footer {
            div{
                min-width: none;
            }

            .contact-details-wrapper{
                a{
                    color: var(--text-color);
                    text-decoration: underline;
                }
            }
        }
    }
    p {
        margin-bottom: 0 !important;
        font-size: var(--font-size-lg);
        line-height: 1.5;
    }

    ul{
        li{
            a{
                color: var(--text-color);
                text-decoration: none;
                transition: color 0.3s ease;
                font-size: var(--font-size-lg);
                font-weight: lighter;
            }
        }
    }
    .quick-links{
        ul{
            li{
                a{
                    font-size: var(--font-size-xl);
                }
            }
        }
    }

    .bottom-footer{
        p{
            font-size: var(--font-size-xl);
            line-height: 1.5;
        }
    }
}

@media (max-width: 768px) {
    .top-footer {
        div{
            min-width: 200px;
        }
    }
}