footer {
    padding-top: 2.5rem;
    background-color: var(--background-color-dark);
    .footer-wrapper {
        background-color: var(--background-color-light);
        padding: 4rem 0;

        .bottom-footer {
            padding-top: 3rem;
            text-align: center;
        }
    }
    p {
        margin-bottom: 0 !important;
    }

    ul{
        li{
            a{
                color: var(--text-color);
                text-decoration: none;
                transition: color 0.3s ease;
                font-size: var(--font-size-lg);
            }
        }
    }
}